.products_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }
  .products_list > div {
    width: 33%;
    text-align: center;
  }

  .products_list > img {
    width: 30%;
    height: 3%;
  }